<%- contentFor('pageSection') %>
<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ol class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
      </ol>
    </div>
    <div class='inner post'>
      <% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <strong><%= edit_error %></strong>
        </div>
      <% } %>
      <% if(typeof(error) !== 'undefined' && error){ %>
        <div class="alert alert-error">
          <strong><%= error %></strong>
        </div>
      <% }else{ %>
        <% if (typeof(action) !== 'undefined' && action === 'edit') { %>
          <form id='edit_product_form' action='/products/<%= product.asin %>/edit' method='post'>
            <% } else { %>
            <form id='create_product_form' action='/products/<%= product.asin %>/save' method='post'>
              <% } %>
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                Product
              </div>
              <div class="card-body">
                <div class="input-group mb-3">
                  <span class="input-group-text">ASIN：</span>
                  <input class="form-control" name="asin" readonly value="<%= product.asin %>"/>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">生产周期(天):</span>
                  <input class="form-control" name="cycle" value="<%= product.cycle %>">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">最小库存保有量(天):</span>
                  <input class="form-control" name="minInventory" value="<%= product.minInventory %>">
                </div>
                <div class="form-check">
                  <% if (product.airDelivery) { %>
                    <input class="form-check-input" type="checkbox" name="airDelivery" value="true" checked id="defaultCheck1">
                  <% } else { %>
                    <input class="form-check-input" type="checkbox" name="airDelivery" value="true" id="defaultCheck1">
                  <% } %>
                  <label class="form-check-label" for="defaultCheck1">
                    需要空派
                  </label>
                </div>
                <div class="form-check">
                  <% if (product.sea) { %>
                    <input class="form-check-input" type="checkbox" name="sea" value="true" checked id="defaultCheck1">
                  <% } else { %>
                    <input class="form-check-input" type="checkbox" name="sea" value="true" id="defaultCheck1">
                  <% } %>
                  <label class="form-check-label" for="defaultCheck1">
                    需要慢船
                  </label>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">预估最大销量:</span>
                  <input class="form-control" name="maxAvgSales" value="<%= product.maxAvgSales %>">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">设置平均销量:</span>
                  <input class="form-control" name="avgSales" value="<%= product.avgSales %>">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">亚马逊7天平均销量:</span>
                  <input class="form-control" name="ps" readonly value="<%= product.ps %>">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">plwhs产品id:</span>
                  <input type="number" class="form-control" name="plwhsId" value="<%= product.plwhsId %>">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">yisucang产品id:</span>
                  <input type="number" class="form-control" name="yisucangId" value="<%= product.yisucangId %>">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">装箱尺寸：</span>
                  <div class="input-group mb-3">
                    <span class="input-group-text">长(cm)：</span>
                    <input class="form-control" name="box.length" value="<%= product.box.length %>">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">宽(cm)：</span>
                    <input class="form-control" name="box.width" value="<%= product.box.width %>">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">高(cm)：</span>
                    <input class="form-control" name="box.height" value="<%= product.box.height %>">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">重(kg)：</span>
                    <input class="form-control" name="box.weight" value="<%= product.box.weight %>">
                  </div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">每箱数量(个)：</span>
                  <input class="form-control" name="unitsPerBox" value="<%= product.unitsPerBox %>">
                </div>
              </div>
              <div class="card-footer text-muted">
                <button type="submit" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Save</button>
              </div>
            </div>
        </div>
    <% } %>
  </div>
</div>