<%- contentFor('pageSection') %>
<table
  data-toggle="table"
  data-pagination="true"
  data-editable-emptytext="Default empty text."
>
  <thead>
    <tr>
      <th data-editable="true" data-sortable="true">orderId:</th>
      <th data-editable="true" data-sortable="true">数量:</th>
      <th data-editable="true" data-sortable="true">采购创建日期:</th>
      <th data-editable="true" data-sortable="true">预估收货日期:</th>
      <th class="">Action</th>
    </tr>
  </thead>
  <tbody>
    
    <% product.producings.forEach(function(producing){ %>
      <tr>
        <td><%= producing.orderId %></td>
        <td><%= producing.quantity %></td>
        <td><%= producing.created %></td>
        <td><%= producing.deliveryDue %></td>
        <td style="text-align:center;">
          <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" data-inbound-id="<%=producing._id%>" >Delete</button>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<br/>

<table
  data-toggle="table"
  data-pagination="true"
  data-editable-emptytext="Default empty text."
>
  <thead>
    <tr>
      <th data-editable="true" data-sortable="true">orderId:</th>
      <th data-editable="true" data-sortable="true">数量:</th>
      <th data-editable="true" data-sortable="true">预估收货日期:</th>
      <th data-editable="true" data-sortable="true">装箱信息:</th>
      <th class="">Action</th>
    </tr>
  </thead>
  <tbody>
    
    <% inbounds.forEach(function(inbound){ %>
      <tr>
        <td><%= inbound.orderId %></td>
        <td><%= inbound.quantity %></td>
        <td><%= inbound.deliveryDue %></td>
        <td><%= inbound.box %></td>
        <td style="text-align:center;">
          <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" data-inbound-id="<%=inbound._id%>" >Delete</button>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<div class="card" style="width: 30rem;">
  <form id='create_product_inbound_form' action='/products/<%- product.asin %>/inbounds' method='post'>
    <div class="card-header">
      Product
    </div>
    <div class="card-body">
      <input class="form-control" name="asin" value="<%= product.asin %>" type="hidden" >
      <div class="input-group mb-3">
        <span class="input-group-text">数量:</span>
        <input type="number" class="form-control" name="quantity">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">预估收货日期:</span>
        <input type="text" class="form-control" name="deliveryDue" data-provide="datepicker">
      </div>
    </div>
    <div class="card-footer text-muted">
      <button type="submit" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Save</button>
    </div>
  </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Are you sure to delete this inbound shipment?</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger">Delete</button>
          </div>
      </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $(".btn[data-bs-target='#myModal']").click(function() {
      console.log('test');
      var columnHeadings = $("thead th").map(function() {
        return $(this).text();
      }).get();
      columnHeadings.pop();
      var columnValues = $(this).parent().siblings().map(function() {
        return $(this).text();
      }).get();     
      var modalBody = $('<div id="modalContent"></div>');
      var inboundId = $(this).data('inbound-id')
      var modalForm = $(`<form role="form" name="modalForm" id="update_inbound_form" action="/products/<%= product.asin %>/inbound" method="post"> \
                          <div class="card-body"> \
                            <input class="form-control" name="asin" value="<%= product.asin %>" type="hidden" > \
                            <input class="form-control" name="inboundId" value="${inboundId}" type="hidden" > \
                            <div class="form-group"> \
                              <label class="input-group-text">数量:</label> \
                              <input type="number" class="form-control" name="quantity" value="${columnValues[0]}"> \
                            </div> \
                            <div class="form-group"> \
                              <label class="input-group-text">预估收货日期:</label> \
                              <input type="text" class="form-control" name="deliveryDue" data-provide="datepicker" value="${columnValues[1]}"> \
                            </div> \
                          </div> \
                        </form>`);
                        console.log(modalBody);
      modalBody.append(modalForm);
      console.log(modalForm);
      $('.modal-body').html(modalBody);
    });
    $('.modal-footer .btn-danger').click(function() {
      $('form[name="modalForm"]').submit();
    });
  }
  )
</script>
