<%- contentFor('pageSection') %>
<br/>
<% const TYPES = {
  'airExpress': '空运',
  'airDelivery': '空派',
  'seaExpress': '快船',
  'sea': '慢船'
} %>
<div class="card text-center">
  <h4>产品列表</h4>
  <table
    data-toggle="table"
    data-pagination="true"
    data-search="true"
    class="table table-hover"
  >
    <thead>
      <tr>
        <th>PM</th>
        <th>ASIN</th>
        <th>亚马逊近7天平均销量</th>
        <th>预估最大销量</th>
        <th>亚马逊fba库存</th>
        <th>仓库库存</th>
        <th>采购中数量</th>
        <th>采购计划</th>
        <th>货期</th>
        <th>设置平均销量</th>
        <th>Actions</th>
        <th>箱规</th>
        <th>放弃</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(function(product) { %>
        <tr>
          <td>
            <% if (product.pm) { %>
              <%= product.pm.name %>
            <% } else { %>
              Unknowun
            <% } %>
          </td>
          <td><%= product.asin %></td>
          <td><%= product.ps %></td>
          <td><%= product.maxAvgSales %></td>
          <td><%= product.fbaInventory %></td>
          <td data-bs-toggle="tooltip" data-bs-placement="right" title="Yisucang: <%= product.yisucangInventory %> | Plwhs:<%= product.plwhsInventory %>">
            <%= product.yisucangInventory + product.plwhsInventory %>
          </td>
          <td><%= product.purchase %></td>
          <td>
            <% if (product.orderQuantity && product.orderQuantity > 0) {%>
              <%  orderDuesInfo = []
                  product.orderDues.forEach(function(orderDue) {
                    orderDuesInfo.push(`${TYPES[orderDue.type]}: ${moment(orderDue.due).format('MM-DD-YYYY')}`)
                  })
              %>
              <span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="<%= orderDuesInfo.join('<br/>') %>"><%= product.orderQuantity %></span>
            <% } else { %>
              <span>不需要采购</span>
            <% } %>
          </td>
          <td>
            <%= product.cycle %>
          </td>
          <td>
            <% if (product.avgSales > 0) {%>
              <%= product.avgSales %>
            <% } %>
          </td>
          <td>
            <a href="/products/<%= product.id %>/edit" target="_blank" type="button" class="btn btn-primary">Edit</a>
            <a href="/products/<%= product.id %>/inbounds" target="_blank" type="button" class="btn btn-primary">Inbound</a>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" data-product-id="<%=product._id%>" >Delete</button>
          </td>
          <td>
            <%= product.box.length %>*<%= product.box.width %>*<%= product.box.height %>cm<br/>
            <%= product.box.weight %>kg<br/>
            <%= product.unitsPerBox %>个/箱
          </td>
          <td>
            <%= product.discontinue %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <a id="add" type="button" class="btn btn-primary" href="/products/new">
    Add New Product
  </a>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Are you sure to delete this product?</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger">Delete</button>
          </div>
      </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#myModal").on('shown.bs.modal', function(e) {
      var modalBody = $('<div id="myModal"></div>');
      var productId = $(e.relatedTarget).data('product-id');
      var modalForm = $(`<div class="modal-dialog modal-confirm"> \
                          <div class="modal-content">\
                            <div class="modal-header flex-column">\
                              <h4 class="modal-title w-100">Are you sure?</h4>\
                            </div>\
                            <div class="modal-body">\
                              <p>Do you really want to delete this product? This process cannot be undone.</p>\
                            </div>\
                            <form role="form" name="modalForm" id="delete_product" action="/products/delete" method="post"> \
                              <div class="modal-footer justify-content-center"> \
                                <input class="form-control" name="productId" value="${productId}" type="hidden" > \
                              </div> \
                            </form>\
	                        </div>\
                        </div>`);
      modalBody.append(modalForm);
      $('.modal-body').html(modalBody);
    });
    $('.modal-footer .btn-danger').click(function() {
      $('form[name="modalForm"]').submit();
    });
    $('[data-toggle="table"]').on('post-body.bs.table', function() {
      $("[data-bs-toggle='tooltip']").tooltip();
    })
    $("[data-bs-toggle='tooltip']").tooltip();
  });
</script>
