<%- contentFor('pageSection') %>
<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ol class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
      </ol>
    </div>
    <div class='inner post'>
      <div id="purchase" data-purchase="<%= JSON.stringify(purchase) %>"></div>
      <div id="freight" data-freight="<%= JSON.stringify(freight) %>"></div>
      <div id="inbounds" data-inbounds="<%= JSON.stringify(purchase.inboundsCheck) %>"></div>
      <div id="chart"></div>
      <div class="card-body">
        <div class="input-group mb-3">
          <span class="input-group-text">ASIN：</span>
          <span class="form-control" ><%- purchase.product.asin %></span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">采购数量(个)：</span>
          <span class="form-control" ><%- purchase.quantity.quantity || 0 %></span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">生产周期(天):</span>
          <span class="form-control" ><%- purchase.product.cycle %></span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">亚马逊库存:</span>
          <span class="form-control" ><%- purchase.fbaInventory %></span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">仓库库存:</span>
          <span class="form-control" ><%- purchase.stock.inventory %></span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">预估最大销量:</span>
          <span class="form-control" ><%- purchase.product.maxAvgSales %></span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">维持最小库存量(天):</span>
          <span class="form-control" ><%- purchase.product.minInventory %></span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">7天平均销量:</span>
          <span class="form-control" ><%- purchase.sales.minAvgSales %></span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">空运数量(个)：</span>
          <span class="form-control" ><%- purchase.plan.airExpress.units || 0 %></span>
        </div>
        <% if (purchase.product.airDelivery) { %>
        <div class="input-group mb-3">
          <span class="input-group-text">空派数量(个)：</span>
          <span class="form-control" ><%- purchase.plan.airDelivery.units || 0 %></span>
        </div>
        <% } %>
        <div class="input-group mb-3">
          <span class="input-group-text">快船数量(个)：</span>
          <span class="form-control" ><%- purchase.plan.seaExpress.units || 0 %></span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">慢船数量(个)：</span>
          <span class="form-control" ><%- purchase.plan.sea.units || 0 %></span>
        </div>
      </div>
      <table
      data-toggle="table"
      data-pagination="true"
      data-editable-emptytext="Default empty text."
      >
        <thead>
          <tr>
            <th data-editable="true" data-sortable="true">orderId:</th>
            <th data-editable="true" data-sortable="true">数量:</th>
            <th data-editable="true" data-sortable="true">预估收货日期:</th>
            <th data-editable="true" data-sortable="true">装箱信息:</th>
            <th class="">Action</th>
          </tr>
        </thead>
        <tbody>
          <% purchase.inboundShippeds.forEach(function(inbound){ %>
            <tr>
              <td><%= inbound.orderId %></td>
              <td><%= inbound.quantity %></td>
              <td><%= inbound.deliveryDue %></td>
              <td><%= inbound.box %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    const FREIGHT_TYPES = ['sea', 'seaExpress', 'airDelivery', 'airExpress'];
    var purchase =$('#purchase').data('purchase');
    var freight =$('#freight').data('freight');
    var data = { 0: {
                      before: purchase.totalInventory,
                      after: purchase.totalInventory
                    }
                }
  
    var inboundsX = [0];
    var inboundsY = [purchase.totalInventory];
    var x = [0];
    var y = [purchase.totalInventory];
    var inboundsData =$('#inbounds').data('inbounds');
      
    for (var date in inboundsData) {
      if (inboundsData[date]) {
        if (inboundsData[date].before === inboundsData[date].after) {
          inboundsX.push(date);
          inboundsY.push(inboundsData[date].before);
        } else {
          inboundsX.push(date);
          inboundsY.push(inboundsData[date].before);
          inboundsX.push(Number(date)+1);
          inboundsY.push(inboundsData[date].after);
        }
      }
    }

    console.log(inboundsX);
    console.log(inboundsY);
   
    async function changeNumberToDate(x) {
      return new Promise((resolve, reject) => {
        var days = [];
        var day = new Date();
        days = x.map(function(n) {
          return moment().add(Number(n), 'days').format('YYYY-MM-DD');
        });
        resolve(days);
      })
    }
    if (purchase.plan) {
      console.log(purchase.plan);
      var status = purchase.plan.inventoryStatus;
      for (var data of purchase.plan.inventoryStatus) {
        if (data.before === data.after) {
          x.push(data.period);
          y.push(data.before);
        } else {
          x.push(data.period);
          y.push(data.before);
          x.push(Number(data.period)+1);
          y.push(data.after);
        }
        
      }
      changeNumberToDate(x).then((days) => {
        console.log(days);
        var chart = c3.generate({
          data: {
            x: 'x',
            columns: [
              ['x'].concat(days),
              ['inventory'].concat(y)
            ]
          },
          axis: {
            x: {
              type: 'timeseries',
              tick: {
                count: days.length,
                format: '%Y-%m-%d'
              }
            }
          },
        });
      })
    } else {
      changeNumberToDate(inboundsX).then((days) => {
        console.log(days);
        var chart = c3.generate({
          data: {
            x: 'x',
            columns: [
              ['x'].concat(days),
              ['inbound'].concat(inboundsY),
            ]
          },
          axis: {
            x: {
              type: 'timeseries',
              tick: {
                count: days.length,
                format: '%Y-%m-%d'
              }
            }
          },
        });
      })
    }
  })
</script>
