<%- contentFor('pageSection') %>
<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ol class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
      </ol>
    </div>
    <div class='inner post'>
      <% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <strong><%= edit_error %></strong>
        </div>
      <% } %>
      <% if(typeof(error) !== 'undefined' && error){ %>
        <div class="alert alert-error">
          <strong><%= error %></strong>
        </div>
      <% }else{ %>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Product
          </div>
          <div class="card-body">
            <div class="input-group mb-3">
              <span class="input-group-text">ASIN：</span>
              <span class="form-control" ><%- product.asin %></span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">生产周期(天):</span>
              <span class="form-control" ><%- product.cycle %></span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">预估最大销量:</span>
              <span class="form-control" ><%- product.max_avg_sales %></span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">装箱尺寸：</span>
              <div class="input-group mb-3">
                <span class="input-group-text">长(cm)：</span>
                <span class="form-control" ><%- product.box.length %></span>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">长(cm)：</span>
                <span class="form-control" ><%- product.box.length %></span>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">宽(cm)：</span>
                <span class="form-control" ><%- product.box.width %></span>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">高(cm)：</span>
                <span class="form-control" ><%- product.box.height %></span>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">重(kg)：</span>
                <span class="form-control" ><%- product.box.weight %></span>
              </div>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">每箱数量(个)：</span>
              <span class="form-control" ><%- product.units_per_box %></span>
            </div>
          </div>
          <div class="card-footer text-muted">
            <a href="/product/<%- product.asin %>/edit" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Edit</a>
          </div>
        </div>
    </div>
    <% } %>
  </div>
</div>