<%- contentFor('pageSection') %>
<div id='content'>
  <div class='panel'>
    <div class='inner post'>
      <% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <strong><%= edit_error %></strong>
        </div>
      <% } %>
      <% if(typeof(error) !== 'undefined' && error){ %>
        <div class="alert alert-error">
          <strong><%= error %></strong>
        </div>
      <% }else{ %>
        <div class="card" style="width: 30rem;">
          <div class="card-header">
            Product
          </div>
          <div class="card-body">
            <div class="input-group mb-3">
              <span class="input-group-text">ASIN：</span>
              <span class="form-control" ><%- product.asin %></span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">生产周期(天):</span>
              <span class="form-control" ><%- product.cycle %></span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">最小库存保有量(天):</span>
              <span class="form-control" ><%- product.minInventory %></span>
            </div>
            <div class="form-check">
              <% if (product.airDelivery) { %>
                <input class="form-check-input" type="checkbox" name="airDelivery" value="true" checked id="defaultCheck1">
              <% } else { %>
                <input class="form-check-input" type="checkbox" name="airDelivery" value="true" id="defaultCheck1">
              <% } %>
              <label class="form-check-label" for="defaultCheck1">
                需要空派
              </label>
            </div>
            <div class="form-check">
              <% if (product.sea) { %>
                <input class="form-check-input" type="checkbox" name="sea" value="true" checked id="defaultCheck1">
              <% } else { %>
                <input class="form-check-input" type="checkbox" name="sea" value="true" id="defaultCheck1">
              <% } %>
              <label class="form-check-label" for="defaultCheck1">
                需要慢船
              </label>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">预估最大销量:</span>
              <span class="form-control" ><%- product.maxAvgSales %></span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">预估平均销量:</span>
              <span class="form-control" ><%- product.avgSales %></span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">亚马逊7天平均销量:</span>
              <span class="form-control" ><%- product.ps %></span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">plwhs产品id:</span>
              <span class="form-control" ><%- product.plwhsId %></span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">yisucang产品id:</span>
              <span class="form-control" ><%- product.yisucangId %></span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">装箱尺寸：</span>
              <div class="input-group mb-3">
                <span class="input-group-text">长(cm)：</span>
                <span class="form-control" ><%- product.box.length %></span>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">宽(cm)：</span>
                <span class="form-control" ><%- product.box.width %></span>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">高(cm)：</span>
                <span class="form-control" ><%- product.box.height %></span>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">重(kg)：</span>
                <span class="form-control" ><%- product.box.weight %></span>
              </div>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">每箱数量(个)：</span>
              <span class="form-control" ><%- product.unitsPerBox %></span>
            </div>
          </div>
          <div class="card-footer text-muted">
            <a href="/products/<%= product.asin %>/edit" target="_blank" type="button" class="btn btn-link">Edit</a>
            <a href="/products/<%= product.asin %>/inbounds" target="_blank" type="button" class="btn btn-link">Inbound</a>
            <a href="/products/<%= product.asin %>/plan" target="_blank" type="button" class="btn btn-link">Plan</a>
            <a href="/products/<%= product.asin %>/syncFreight" target="_blank" type="button" class="btn btn-link">syncFreight</a>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" data-product-id="<%=product._id%>" >Delete</button>
          </div>
        </div>


        <div class="card" style="width: 30rem;">
            <div class="card-header">
              Inbound
            </div>

            <% product.inboundShippeds.forEach(function(inboundShipped){ %>
              <div class="card-body">
                <div class="input-group mb-3">
                  <span class="input-group-text">数量:</span>
                  <span class="form-control" ><%- inboundShipped.quantity %></span>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">预估收货日期:</span>
                  <span class="form-control" ><%- inboundShipped.deliveryDue %></span>
                </div>
              </div>
            <% }) %>
        </div>

       
    </div>
    <% } %>
  </div>
</div>
