<%- contentFor('pageSection') %>
<div id='content'>
  <div class='panel'>
    <div class='inner post'>
      <form id='edit_delivery_form' action='/deliveries/<%= delivery._id %>/save' method='post'>
        <input type="hidden" name="deliveryId" value="<%= delivery._id %>"/>
				<div class="card p-4">
					<div class="card-header">
						delivery
					</div>
					<div class="input-group input-group-static mb-4">
						<label>Memo：</label>
						<input type="text" class="form-control" name="memo" value="<%= delivery.memo %>"/>
					</div>
					<div class="input-group input-group-static mb-4">
						<label>数量:</label>
						<input class="form-control" name="quantity" value="<%= delivery.quantity %>">
					</div>
					<div class="input-group input-group-static mb-4">
						<label>箱数:</label>
						<input class="form-control" name="boxCount" value="<%= delivery.box %>">
					</div>

					<div class="input-group input-group-static mb-4">
						<label>发货日期:</label>
						<input type="text" class="form-control" name="shipmentDate" data-provide="datepicker" value="<%= delivery.shipmentDate %>">
					</div>
					<div class="input-group input-group-static mb-4">
						<label>预估收货日期:</label>
						<input type="text" class="form-control" name="expectArrivalDate" data-provide="datepicker" value="<%= delivery.expectArrivalDate %>">
					</div>
					<div class="card-footer text-muted">
						<button type="submit" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Save</button>
					</div>
				</div>
			</form>
		</div>
  </div>
</div>
