<%- contentFor('pageSection') %>
<br/>
<div class="card text-center">
  <h4>运输列表</h4>
  <table
    data-toggle="table"
    data-pagination="true"
    data-search="true"
    class="table table-hover"
  >
    <thead>
      <tr>
				<th>memo</th>
				<th>box</th>
				<th>receiveRnQuantity</th>
				<th>quantity</th>
				<th>receiptQuantity</th>
				<th>actualAmount</th>
				<th>code</th>
				<th>status</th>
				<th>statusName</th>
				<th>trackings</th>
				<th>orderId</th>
				<th>shipmentDate</th>
				<th>deliveryStatus</th>
				<th>spiltTrackings</th>
				<th>expectArrivalDate</th>
				<th>expectShipmentDate</th>
				<th>action</th>
      </tr>
    </thead>
    <tbody>
      <% deliveries.forEach(function(delivery) { %>
        <tr>
					<td><%= delivery.memo %></td>
					<td><%= delivery.box %></td>
					<td><%= delivery.receiveRnQuantity %></td>
					<td><%= delivery.quantity %></td>
					<td><%= delivery.receiptQuantity %></td>
					<td><%= delivery.actualAmount %></td>
					<td><%= delivery.code %></td>
					<td><%= delivery.status %></td>
					<td><%= delivery.statusName %></td>
					<td><%= delivery.trackings %></td>
					<td><%= delivery.orderId %></td>
					<td><%= delivery.shipmentDate %></td>
					<td><%= delivery.deliveryStatus %></td>
					<td><%= delivery.spiltTrackings %></td>
					<td><%= delivery.expectArrivalDate ? delivery.expectArrivalDate.toLocaleDateString() : '' %></td>
					<td><%= delivery.expectShipmentDate ? delivery.expectShipmentDate.toLocaleDateString() : '' %></td>

          <td>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" data-delivery-id="<%=delivery._id%>" >Delete</button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <a id="add" type="button" class="btn btn-primary" href="/deliveries/new">
    Add New delivery
  </a>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Are you sure to delete this delivery?</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger">Delete</button>
          </div>
      </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#myModal").on('shown.bs.modal', function(e) {
      var modalBody = $('<div id="myModal"></div>');
      var deliveryId = $(e.relatedTarget).data('delivery-id');
      var modalForm = $(`<div class="modal-dialog modal-confirm"> \
                          <div class="modal-content">\
                            <div class="modal-header flex-column">\
                              <h4 class="modal-title w-100">Are you sure?</h4>\
                            </div>\
                            <div class="modal-body">\
                              <p>Do you really want to delete this delivery? This process cannot be undone.</p>\
                            </div>\
                            <form role="form" name="modalForm" id="delete_delivery" action="/deliveries/delete" method="post"> \
                              <div class="modal-footer justify-content-center"> \
                                <input class="form-control" name="deliveryId" value="${deliveryId}" type="hidden" > \
                              </div> \
                            </form>\
	                        </div>\
                        </div>`);
      modalBody.append(modalForm);
      $('.modal-body').html(modalBody);
    });
    $('.modal-footer .btn-danger').click(function() {
      $('form[name="modalForm"]').submit();
    });
    $('[data-toggle="table"]').on('post-body.bs.table', function() {
      $("[data-bs-toggle='tooltip']").tooltip();
    })
    $("[data-bs-toggle='tooltip']").tooltip();
  });
</script>
